html, body {
  height: 100%;
}

body {
  background: #292F36;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica Neue;
}

.tile {
  position: relative;
  float: left;
  margin: 0.5em;
  font-size: 300%;
  width: 2em;
  height: 2em;
  border-radius: 0.5em;
  color: #ffffff;
  background: #4ECDC4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile-active {
  background-color: #FF6B6B;
}

p {
  font-family: sans-serif;
  text-align: center;
  font-size: 125%;
}