<div style="display: inline-block;"> [ </div> <div style="display: inline-block;" id="test">32, 22, 11</div><div style="display: inline-block;">] </div>
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js"></script>
  <script type="text/javascript" src="static/wordscramble.js"></script>
  <link rel= "stylesheet" href="static/main.css">
 <script type="text/javascript" src="static/main.js"></script>
